.test-list-container {
    background-color: #eee;
    padding: 1rem;
    height: 100%;

    .test-item {
        display: block;
        color: black;
        text-decoration: none;
        border: 1px solid #ccc;
        padding: 1rem;
        margin-bottom: 1rem;

        h3 {
            margin-bottom: 0.5rem;
        }
    }

    .test-item.selected {
        background-color: white;
    }
}
